/* ===== Section General ===== */
section{
    padding: 40px 0;
    overflow: hidden;
}

p{
    color: gray;
}
/* ===== Section General End ===== */

/* ===== Back To Top ===== */
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #ff0000;
    color: #fff;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #ff00008c;
    color: #fff;
  }

/* ===== Hero Sections ===== */
#hero .carousel-item img{
    width: auto;
    height: 100vh;

    margin: auto; 

    object-fit: cover;
    animation: zoom 20s;

    filter: brightness(40%);

    position: relative;
}
    @keyframes zoom {
        from {
            transform: scale(1, 1);
        }
        to {
            transform: scale(1.5, 1.5);
        }
    }

#hero .heroBanner{
    position: absolute;
    z-index: 10;
    top: 60%;
    right: 0;
    left: 0;
    width: 90%;

    text-align: center;
    color: white; 
}
  
    /* Large devices (laptops/desktops, 992px and down) */
    @media only screen and (min-width: 992px) {
        #hero h1 {
            font-size: 5rem;
        }
    }
    
    /* Medium devices (landscape tablets, 768px and down) */
    @media only screen and (max-width: 991.5px) {
        #hero h1 {
            font-size: 2.9rem;
        }

    }
/* ===== Hero Sections End ===== */      


/* ===== Biodata Sections ===== */
#biodata .card-outside .card{
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#biodata .card-inside .card{
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

#biodata .card-inside a{
    font-size: 28px;
    color: gray;
}
    #biodata .card-inside a :hover{
        color: goldenrod;
    }
  
/* ===== Biodata Sections End===== */

/* ===== Waktu Mundur Sections ===== */
#waktu-mundur{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero/slide-1.jpg) fixed center top;
    background-size: cover;
    padding: 420px 0;

    position: relative;
     
}
    @media (max-width: 1024px) {
        #waktu-mundur {
            background-attachment: scroll;
        }
    }

    @media (max-width: 768px) {
        #waktu-mundur {
            padding: 400px 0;
        }
    }



#waktu-mundur .box-pemanis1{
    width: 100%;
    height: 100px;
    
    position: absolute;
    top: 0;

    background-color: white;
    border-radius: 0 0 65% 65% / 100%;
}

#waktu-mundur .box-pemanis2{
    width: 100%;
    height: 100px;
    
    position: absolute;
    bottom: 0;

    background-color: white;
    border-radius: 65% 65% 0 0 / 100%;
}

#waktu-mundur .wm-video iframe{
    position: absolute;
    z-index: 10;
    top: 0;
     
    overflow: hidden;

    border-radius: 15px;
    border-color: #ff0000;
    
}
    @media only screen and (min-width: 992px){
      #waktu-mundur .wm-video iframe{
        min-width: 48%;
        height: 32%;
      }
    }


#waktu-mundur .wm-card{
    position: absolute;
    z-index: 1;
    bottom: 0;
}

    .wm-card .card{
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

/* countdown */
#waktu-mundur .countdown div {
    text-align: center;
    margin: 10px;
    width: 100px;
    padding: 15px 0;
    background: rgba(153, 153, 153, 0.068);
    border-top: 5px solid #ff0000;
  }
  
  #waktu-mundur .countdown div h3 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 15px;
  }
  
  #waktu-mundur .countdown div h4 {
    font-size: 16px;
    font-weight: 600;
  }
  
  @media only screen and (max-width: 575px) {
    #waktu-mundur .countdown div {
      width: 70px;
      padding: 10px 0;
      margin: 10px 8px;
    }
    #waktu-mundur .countdown div h3 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    #waktu-mundur .countdown div h4 {
      font-size: 14px;
      font-weight: 500;
    }
  }


/* ===== Waktu Mundur Sections End ===== */

/* ===== Akad-Resepsi Sections ===== */
#akad-resepsi .ar-item .card{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#akad-resepsi .ar-item hr{
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    

}
/* ===== Akad-Resepsi Sections End ===== */

/* ===== Cerita Cinta Sections ===== */
#cerita-cinta{
    background-color:whitesmoke;
    position: relative;
}

    #cerita-cinta .box-pemanis3{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
    }
    #cerita-cinta .box-pemanis4{
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
    }
    #cerita-cinta .box-pemanis5{
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
    }
    #cerita-cinta .box-pemanis6{
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
    }

    #cerita-cinta .img-thumbnail {
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 992px){
      #cerita-cinta .cc-timeline img{
        object-fit: cover;
        position: relative;
        top: 0;

        width: 100%;
        height: 50vh;

        object-position: center;
      }

      #cerita-cinta .cc-timeline h4{
        padding-top: 4rem;
      }

      #cerita-cinta .img-thumbnail {
        padding: 1rem;
      }
    }

    @media (max-width: 991px){
      #cerita-cinta .img-thumbnail {
        padding: 0.4rem;
      }
    }
  


      
   
/* ===== Cerita Cinta Sections End ===== */

/* ===== Gallery Sections ===== */
#gallery{
    background-color: white;
}

@media (min-width: 992px){
  #gallery .grid {
    display: grid;
    grid-template-rows: 
      repeat(3, 250px);
    grid-template-columns: 
      repeat(6, 1fr);
    grid-gap: 5px;
    background-size: auto; 
  }
  
  .item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .item:nth-child(3) {
    grid-column: 5/7;
    grid-row: 1/2;
  }
  .item:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .item:nth-child(5) {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .item:nth-child(6) {
    grid-column: 5/7;
    grid-row: 2/4;
  }
}

@media (max-width: 991px) {
  .grid{
    display: grid;
    grid-template-rows: 
    repeat(6, 30vw);
    grid-template-columns: 
    repeat(4, 1fr);
    grid-gap: 5px;
    background-size: auto; 
  }
  
  .item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .item:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .item:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item:nth-child(4) {
    grid-column: 3/5;
    grid-row: 3/5;
  }
  .item:nth-child(5) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .item:nth-child(6) {
    grid-column: 1/5;
    grid-row: 5/7;
  }
}

#gallery .grid {
  margin:20px auto;
  max-width:1000px;

}

#gallery .grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}


/* ===== Gallery Sections End ===== */


/* ===== Footer Sections ===== */
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #979696d3;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: #222222;
}

#footer .footer-links a {
  color: #222222;
  padding-left: 15px;
}

#wish-comment .wc-comment{
  overflow: auto;

  height: 50vh;
}

#fbcomments, .fb_iframe_widget,

            .fb_iframe_widget[style],

            .fb_iframe_widget iframe[style],

            .fb_iframe_widget span,

            #fbcomments iframe [style]

            {

              width: 100% !important;
              
            }

/* ===== Footer Sections End ===== */

/* ===== Modal ===== */
.modal-dialog{
  margin-left:0px;
  margin-right: 0px;
  width: 100vw !important;
  max-width: 100vw !important;
}

.modal-content{
  background-color: transparent !important;
  border: none !important;
  width: 70%;
  margin: auto;
}

.modal-bg-img{
  position: fixed;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto; 
  object-fit: cover;
  overflow: visible;
}

.modal-body{
  padding-left: 5vh;
  padding-right: 5vh;
}

@media only screen and (max-width: 991px) and (orientation:landscape) {
  .modal-bg-img{
   height: 105vh;
  }
  .modal-body{
    padding-left: 40vh;
    padding-right: 40vh;
  }
}

@media only screen and (max-width: 991px) and (orientation:portrait) {
  .modal-body{
    padding-left: 1vh;
    padding-right: 1vh;
  }
}


@media only screen and (min-width: 992px) {
  .modal-bg-img{
   height: 80vh;
  }
}


/* ===== Modal End ===== */